* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    @extend %siteBg;
    font-size: 16px;
    line-height: 1.3;
    user-select: none;
}

a {
    text-decoration: none;
    &.underline {
        text-decoration: underline;
    }
}
button {
    cursor: pointer;
    outline: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

h1 {
    font-size: size(40);
}
h2 {
    font-size: size(35);
}
h3 {
    font-size: size(30);
}
h4 {
    font-size: size(26);
}
h5 {
    font-size: size(20);
}
h6 {
    font-size: size(18);
}

.container {
    &--responsive {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
}

.margin {
    &--b15 {
        margin-bottom: 15px;
    }
    &--b20 {
        margin-bottom: 20px;
    }
    &--b35 {
        margin-bottom: 35px;
    }

    &--t15 {
        margin-top: 15px;
    }
    &--t20 {
        margin-top: 20px;
    }

    &--r10 {
        margin-right: 10px;
    }
    &--r15 {
        margin-right: 15px;
    }
    &--r20 {
        margin-top: 20px;
    }
}

.btn {
    outline: 0;
    border-radius: 10px;
    border: 0;
    padding: 15px 30px;
    color: $white;
    display: inline-flex;
    align-items: center;
    &.yellow {
        background-color: $yellow;
    }
    &.grey {
        background-color: $grey;
    }
    &.icon {
        i {
            margin-left: 10px;
        }
    }
}

.separator {
    &.vertical {
        width: 1px;
        height: 30px;
        background: $separators;
        margin: 0 10px;
        display: block;
    }
}

.section {
    &--title {
        display: flex;
        align-items: center;
        font-size: size(20);
        color: $lightgrey;
        &::before, &::after {
            content: '';
            display: block;
            height: 2px;
            width: 35px;
            background-color: $lightgrey;
        }
        &::before {
            margin-right: 20px;
        }
        &::after {
            margin-left: 20px;
        }
    }
}