header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: background 0.3s ease-in-out;

  &.scrolling {
    background-color: rgba($black, 0.9);
  }

  .header {
    &--main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 2.5%;

      .logo {
        width: 158px;

        img {
          width: 100%;
        }
      }

      #mob-menu {
        display: none;

        &:checked+nav {
          transform: translateX(0);

          &+.top-bar--right .hamburger_container {

            .bar1,
            .bar2,
            .bar3 {
              background-color: $white;
            }

            .bar1 {
              transform: rotate(-45deg) translate(-9px, 0px);
            }

            .bar2 {
              opacity: 0;
            }

            .bar3 {
              transform: rotate(45deg) translate(-8px, 0px);
            }
          }
        }
      }

      .hamburger_container {
        display: inline-block;
        cursor: pointer;
        z-index: 1;
        position: relative;
        margin-left: 20px;
        -webkit-tap-highlight-color: transparent;

        @media only screen and (min-width: 501px) {
          display: none;
        }

        .bar1,
        .bar2,
        .bar3 {
          width: 25px;
          height: 5px;
          background-color: $white;
          margin: 1px 0;
          transition: 0.4s;
          display: block;
        }
      }

      nav {
        @media only screen and (max-width: 640px) {
          position: fixed;
          top: 79px;
          background: rgba(0, 0, 0, 0.9);
          left: 0;
          white-space: nowrap;
          padding: 15px;
          overflow: hidden;
          overflow-x: scroll;
          width: 100%;
          transform: translateX(100%);
          transition: transform 0.2s ease-in-out;
        }

        ul {
          display: flex;
          @media only screen and (max-width: 640px) {
            justify-content: space-evenly;
          }

          li {
            margin-right: 60px;

            @media only screen and (max-width: 640px) {
              margin-right: 20px;
            }

            &:last-child {
              margin-right: 0;
            }

            a {
              display: flex;
              align-items: center;
              font-size: size(16);
              color: $white;

              &.active {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .top-bar {
        &--right {
          display: flex;
          align-items: center;

          // @media only screen and (max-width: 640px) {
          //   display: none;
          // }

          i {
            color: $white;
            margin-right: 20px;
            font-size: size(20);
          }

          .user {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
            }
          }
        }
      }
    }

  }
}
