header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  .header {
    &--main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;

      .logo {
        width: 158px;

        img {
          width: 100%;
        }
      }

      nav {
        ul {
          display: flex;

          li {
            margin-right: 60px;

            &:last-child {
              margin-right: 0;
            }

            a {
              display: flex;
              align-items: center;
              font-size: size(16);
              color: $white;

              &.active {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .top-bar {
        &--right {
          display: flex;
          align-items: center;

          i {
            color: $white;
            margin-right: 20px;
            font-size: size(20);
          }

          .user {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
            }
          }
        }
      }
    }

  }
}
