.hero {
    &--container {
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: flex-end;
        padding-bottom: 40px;
        padding-top: 80px;
    }
    &--bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center 12%;
        // background-attachment: fixed;
        filter: blur(30px);
    }
}

.content {
    $this: &;
    &--data {
        height: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
        padding-bottom: 40px;
        border-bottom: 1px solid $separators;
        .poster {
            width: 25%;
            margin-right: 20px;
            img {
                border-radius: 10px;
            }
        }
        #{$this}--info {
            width: calc(75% - 20px);
            color: white;
            #{$this}--genres {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 10px;
                span {
                    display: block;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    padding: 10px 20px;
                    color: $white;
                    background-color: rgba($white, 0.2);
                    border-radius: 8px;
                }
            }
            #{$this}--description {
                line-height: 1.8;
            }
        }
    }
    &--actions {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        .buttons {
            display: flex;
            align-items: center;
        }
    }
}