@import "./iconVariables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1b2dcj');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1b2dcj#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?1b2dcj') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?1b2dcj') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?1b2dcj##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi--facebook {
  &:before {
    content: $fi--facebook; 
  }
}
.fi--instagram {
  &:before {
    content: $fi--instagram; 
  }
}
.fi--bookmark {
  &:before {
    content: $fi--bookmark; 
  }
}
.fi--double-down {
  &:before {
    content: $fi--double-down; 
  }
}
.fi--download {
  &:before {
    content: $fi--download; 
  }
}
.fi--left-arrow {
  &:before {
    content: $fi--left-arrow; 
  }
}
.fi--play {
  &:before {
    content: $fi--play; 
  }
}
.fi--right-arrow {
  &:before {
    content: $fi--right-arrow; 
  }
}
.fi--search {
  &:before {
    content: $fi--search; 
  }
}
.fi--up-arrow {
  &:before {
    content: $fi--up-arrow; 
  }
}