$icomoon-font-family: "filimo" !default;
$icomoon-font-path: "/assets/fonts" !default;

$fi--facebook: "\e908";
$fi--instagram: "\e909";
$fi--bookmark: "\e900";
$fi--double-down: "\e901";
$fi--download: "\e902";
$fi--left-arrow: "\e903";
$fi--play: "\e904";
$fi--right-arrow: "\e905";
$fi--search: "\e906";
$fi--up-arrow: "\e907";