$yellow: #fcc537;
$black: #000000;
$white: #ffffff;
$grey: #484338;
$lightgrey: #a9a9a9;

$footerbg: #6d6654;

$separators: rgba($white, 0.33);

%siteBg {
    background: rgb(11,14,30);
    background: linear-gradient(180deg, rgba(11,14,30,1) 0%, rgba(64,58,45,1) 100%);
    background-repeat: no-repeat;
}

$baseSize: 16;
@function size($target, $context: $baseSize) {
    @return ($target / $context) * 1em;
}