<header>
    <div class="header--main">
        <img src="/assets/images/logo.png" alt="Filimo" class="logo">
        <nav>
            <ul>
                <li *ngFor="let item of menu">
                    <a [routerLink]="[item.url]" routerLinkActive="active">{{ item.name }}</a>
                </li>
            </ul>
        </nav>
        <div class="top-bar--right">
            <i class="fi--search"></i>
            <div class="user" *ngIf="user">
                <img [src]="user.profile_pic" />
            </div>
        </div>
    </div>
</header>