<header #headerRef>
    <div class="header--main">
        <img src="/assets/images/logo.png" alt="Filimo" class="logo">
        <input type="checkbox" id="mob-menu" hidden>
        <nav>
            <ul>
                <li *ngFor="let item of menu">
                    <a [routerLink]="[item.url]" routerLinkActive="active">{{ item.name }}</a>
                </li>
            </ul>
        </nav>
        <div class="top-bar--right">
            <i class="fi--search"></i>
            <div class="user" *ngIf="user">
                <img [src]="user.profile_pic" />
            </div>
            <label for="mob-menu" class="hamburger_container hamburger">
                <span class="bar1"></span>
                <span class="bar2"></span>
                <span class="bar3"></span>
            </label>
        </div>
    </div>
</header>