:host {
    display: block;
    margin-bottom: 100px;
}

.slide--container {
    display: flex;
    align-items: center;
}
.content-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    .img-wrap {
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 10px;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    img {
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .others {
        text-align: center;
        small {
            color: #a9a9a9;
        }
    }
}
.seasons--counter {
    width: 17%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    .count {
        width: 50px;
        height: 50px;
        border-radius: 3px;
        border: 1px solid #fff;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        position: relative;
        @media only screen and (max-width: 640px) {
            font-size: 16px;
            width: 40px;
            height: 40px;
        }
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 8vw;
            max-width: 150px;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            background-color: white;
        }
    }
}

.slider {
    $this: &;
    &--toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #{$this}--buttons {
            display: flex;
            align-items: center;
            button {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid white;
                background-color: rgba(#fff, 0.2);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                outline: 0;
                transition: opacity 0.3s ease-in-out;
                &.swiper-button-disabled {
                    opacity: 0.4;
                    cursor: not-allowed;
                }
                i {
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
    &--container {
        width: 100%;
        &.episodes {
            width: calc((100% - 17%) - 15px);
        }
    }
}