<section class="container--responsive">
    <div class="slider--toolbar margin--b35">
        <h2 class="section--title">{{ title }}</h2>
        <div class="slider--buttons">
            <button class="button-prev" [ngClass]="randomClass">
                <i class="fi--left-arrow"></i>
            </button>
            <button class="button-next" [ngClass]="randomClass">
                <i class="fi--right-arrow"></i>
            </button>
        </div>
    </div>
    <div class="slide--container">
        <div class="seasons--counter" *ngIf="episodes">
            <div class="count">1</div>
            Seasons
        </div>
        <div class="slider--container" [ngClass]="{'episodes': episodes}">
            <swiper [config]="config">
                <ng-template swiperSlide *ngFor="let slide of sliderData; let i = index;">
                    <div class="content-slide">
                        <div [ngClass]="{'img-wrap': !episodes}">
                            <img [src]="slide.thumb" />
                        </div>
                        <span *ngIf="episodes">
                            Episode {{ i + 1 }}
                        </span>
                        <div *ngIf="!episodes" class="others">
                            <p>{{ slide.title }}</p>
                            <small>{{ slide.category }} | {{ slide.genre.join(', ') }}</small>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</section>